# Exclude PyCharm configuration directory
.idea/

# Exclude the results that you may have produced in past experiments
results/

# Exclude libraries etc.
tb_logs/
results/
Lib/
Include/
Scripts/
*.pyc
pyvenv.*
run_minitest.sh
