# Exclude PyCharm configuration directory
.idea/

# Exclude the results that you may have produced in past experiments
results/
batch_test.sh

# Exclude libraries etc.
tb_logs/
results/
Lib/
Include/
Scripts/
*.pyc
pyvenv.*
